## pandas ##

### pd.value_counts() ###
    value_counts()是一种查看表格某列中有多少个不同值的快捷方法，并计算每个不同值有在该列中有多少重复值。
    value_counts()是Series拥有的方法，一般在DataFrame中使用时，需要指定对哪一列或行使用

### reset_index ###

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame([('bird',    389.0),
                   ('bird',     24.0),
                   ('mammal',   80.5),
                   ('mammal', np.nan)],
                  index=['falcon', 'parrot', 'lion', 'monkey'], columns=('class', 'max_speed'))
df

         class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

当我们重置索引时，旧索引将作为列添加，并使用新的顺序索引：

In [4]:
df.reset_index()

    index   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN

默认是否丢弃索引这列是False

In [5]:
df.reset_index(drop=True)

    class  max_speed
0    bird      389.0
1    bird       24.0
2  mammal       80.5
3  mammal        NaN