## 文本分类全过程 ##
    1.导入数据
    2.处理数据（去除缺失列、分词、去除停用词）
    3.划分数据集和测试集
    4.用向量表示文本
    5.套上模型

### 数据源：http://www.sogou.com/labs/resource/list_news.php ###

    1. 如何导入txt/csv文件
	2. 如何去除含有缺失值的列
	3. 如何输出DataFrame的前几行，以及形状
	4. 如何把DataFrame里的某一列的值变成一个列表赋值给列表
	5. 如何使用结巴分词（一行一行的分）
	6. 把某一个列赋值给DataFrame，并且自己定义名字
	7. 分好词了如何去除停用词
	8. 把中文的类别变成英文的类别
    9. 如何划分训练集和测试集（列表是参数）
	10. 如何让一个输出以逗号分隔的列表，变成一个以空格为分隔的列表(即修改分隔符)
	11. 如何让一句话转成一个向量（CountVectorizer，TfidfVectorizer）
	12. 如何使用贝叶斯分类器
    13.如何使用xgboost分类器

In [31]:
#导入包
import pandas as pd
import jieba
import numpy as np

**1. 如何导入txt/csv文件**

**2. 如何去除含有缺失值的列**

In [32]:
df_news = pd.read_table('./data/val.txt',names=['category','theme','URL','content'],encoding='UTF-8')
df_news = df_news.dropna()
df_news.head()

,category,theme,URL,content
0,汽车,新辉腾 ４．２ Ｖ８ ４座加长Ｉｎｄｉｖｉｄｕａｌ版２０１１款 最新报价,http://auto.data.people.com.cn/model_15782/,经销商 电话 试驾／订车Ｕ憬杭州滨江区江陵路１７８０号４００８－１１２２３３转５８６４＃保常...
1,汽车,９１８ Ｓｐｙｄｅｒ概念车,http://auto.data.people.com.cn/prdview_165423....,呼叫热线 ４００８－１００－３００ 服务邮箱 ｋｆ＠ｐｅｏｐｌｅｄａｉｌｙ．ｃｏｍ．ｃｎ
2,汽车,日内瓦亮相 ＭＩＮＩ性能版／概念车－１．６Ｔ引擎,http://auto.data.people.com.cn/news/story_5249...,ＭＩＮＩ品牌在二月曾经公布了最新的ＭＩＮＩ新概念车Ｃｌｕｂｖａｎ效果图，不过现在在日内瓦车展...
3,汽车,清仓大甩卖一汽夏利Ｎ５威志Ｖ２低至３．３９万,http://auto.data.people.com.cn/news/story_6144...,清仓大甩卖！一汽夏利Ｎ５、威志Ｖ２低至３．３９万＝日，启新中国一汽强势推出一汽夏利Ｎ５、威志...
4,汽车,大众敞篷家族新成员 高尔夫敞篷版实拍,http://auto.data.people.com.cn/news/story_5686...,在今年３月的日内瓦车展上，我们见到了高尔夫家族的新成员，高尔夫敞篷版，这款全新敞篷车受到了众...

**3. 如何输出DataFrame的前几行，以及形状**

In [33]:
df_news.shape

(5000, 4)

**4. 如何把DataFrame里的某一列的值变成一个列表赋值给列表**

In [35]:
content = df_news.content.values.tolist()
print(content[2])
print("\n")
print(len(content))

ＭＩＮＩ品牌在二月曾经公布了最新的ＭＩＮＩ新概念车Ｃｌｕｂｖａｎ效果图，不过现在在日内瓦车展上，ＭＩＮＩ品牌带来了全新的ＣＯＵＮＴＲＹＭＡＮ　ＪＣＷ版和Ｃｌｕｂｖａｎ概念车以及更多ＪＣＷ性能版车型亮相。＃停桑危伞。茫希眨危裕遥伲停粒巍。剩茫装嬖谕夤凵媳浠非常明显，其加装了空气动力学套件外观，并且针对个性的性能版车型采用了非常吸引眼球的黑色车身配红色车顶以及红色拉花的搭配。新款车型在性能上也做了改进，采用１８英寸合金轮毂，高性能刹车套件以及运动化悬挂组件，配合运动版尾排以及车侧的ＪＣＷ徽标彰显着这是一款体现性能的车型。＃停桑危伞。茫希眨危裕遥伲停粒巍。剩茫装嬖诙力上搭载的是一款１６０千瓦的１．６升涡轮增压引擎，最大扭矩３００牛米，同时还配有全轮驱动系统，百公里加速仅需７．０秒，极速被限制在２２５ｋｍ／ｈ或２２３ｋｍ／ｈ（选装６速自动变速箱）。．．．全文　＞　（来源：网上车市）


5000

**5. 如何使用结巴分词（即把一个完整的数据分词）**

In [36]:
#相当于把原来没有分词的包含所有文章的content变成了包含所有文章分词以后的content_S
content_S = []
for line in content:
    current_segment = jieba.lcut(line)
    if len(current_segment)>1 and current_segment!='\r\n':
        content_S.append(current_segment)
print(content_S[2])

['Ｍ', 'Ｉ', 'Ｎ', 'Ｉ', '品牌', '在', '二月', '曾经', '公布', '了', '最新', '的', 'Ｍ', 'Ｉ', 'Ｎ', 'Ｉ', '新', '概念车', 'Ｃ', 'ｌ', 'ｕ', 'ｂ', 'ｖ', 'ａ', 'ｎ', '效果图', '，', '不过', '现在', '在', '日内瓦', '车展', '上', '，', 'Ｍ', 'Ｉ', 'Ｎ', 'Ｉ', '品牌', '带来', '了', '全新', '的', 'Ｃ', 'Ｏ', 'Ｕ', 'Ｎ', 'Ｔ', 'Ｒ', 'Ｙ', 'Ｍ', 'Ａ', 'Ｎ', '\u3000', 'Ｊ', 'Ｃ', 'Ｗ', '版', '和', 'Ｃ', 'ｌ', 'ｕ', 'ｂ', 'ｖ', 'ａ', 'ｎ', '概念车', '以及', '更', '多', 'Ｊ', 'Ｃ', 'Ｗ', '性能', '版', '车型', '亮相', '。', '＃', '停桑', '危伞', '。', '茫希', '眨', '危裕遥', '伲', '停粒巍', '。', '剩茫装', '嬖', '谕', '夤', '凵', '媳', '浠', '非常明显', '，', '其', '加装', '了', '空气', '动力学', '套件', '外观', '，', '并且', '针对', '个性', '的', '性能', '版', '车型', '采用', '了', '非常', '吸引', '眼球', '的', '黑色', '车身', '配', '红色', '车顶', '以及', '红色', '拉花', '的', '搭配', '。', '新款', '车型', '在', '性能', '上', '也', '做', '了', '改进', '，', '采用', '１', '８', '英寸', '合金', '轮毂', '，', '高性能', '刹车', '套件', '以及', '运动', '化', '悬挂', '组件', '，', '配合', '运动版', '尾排', '以及', '车侧', '的', 'Ｊ', 'Ｃ', 'Ｗ', '徽标', '彰显', '着', '这', '是', '一款', '体现', '性能', '的', '车型', '。', '＃', '停桑', '危伞', '。', '茫希', '眨', '危裕遥', '伲', '停粒巍', '。', '剩茫装', '嬖', '诙力', '上', '搭载', '的', '是', '一款', '１', '６', '０', '千瓦', '的', '１', '．', '６', '升', '涡轮', '增压', '引擎', '，', '最大', '扭矩', '３', '０', '０', '牛米', '，', '同时', '还', '配有', '全轮', '驱动', '系统', '，', '百公里', '加速', '仅', '需', '７', '．', '０', '秒', '，', '极速', '被', '限制', '在', '２', '２', '５', 'ｋ', 'ｍ', '／', 'ｈ', '或', '２', '２', '３', 'ｋ', 'ｍ', '／', 'ｈ', '（', '选装', '６', '速', '自动', '变速箱', '）', '。', '．', '．', '．', '全文', '\u3000', '＞', '\u3000', '（', '来源', '：', '网上', '车市', '）']

**6. 把某一个列赋值给DataFrame，并且自己定义名字**

In [37]:
df_content = pd.DataFrame({'content_S':content_S})
df_content.head()

                                           content_S
0  [经销商, 　, 电话, 　, 试驾, ／, 订车, Ｕ, 憬, 杭州, 滨江区, 江陵, ...
1  [呼叫, 热线, 　, ４, ０, ０, ８, －, １, ０, ０, －, ３, ０, ０...
2  [Ｍ, Ｉ, Ｎ, Ｉ, 品牌, 在, 二月, 曾经, 公布, 了, 最新, 的, Ｍ, Ｉ...
3  [清仓, 大, 甩卖, ！, 一汽, 夏利, Ｎ, ５, 、, 威志, Ｖ, ２, 低至, ...
4  [在, 今年, ３, 月, 的, 日内瓦, 车展, 上, ，, 我们, 见到, 了, 高尔夫...

In [38]:
#导入停用词表
stopwords = pd.read_csv('stopwords.txt',sep='\t',quoting=3,names=['stopword'],encoding="utf-8")
stopwords.head()

  stopword
0        !
1        "
2        #
3        $
4        %

**7. 分好词了如何去除停用词**

In [39]:
def drop_stopwords(contents,stopwords):
    contents_clean = []
    all_words = []
    for line in contents:
        line_clean = []
        for word in line:
            if word in stopwords:
                continue
            line_clean.append(word)
            all_words.append(str(word))
        contents_clean.append(line_clean)
    return contents_clean,all_words

contents = df_content.content_S.values.tolist()
stopwords = stopwords.stopword.values.tolist()
contents_clean,all_words = drop_stopwords(contents,stopwords)

In [40]:
df_content = pd.DataFrame({'contents_clean':contents_clean})
df_content.head()

                                      contents_clean
0  [经销商, 电话, 试驾, 订车, Ｕ, 憬, 杭州, 滨江区, 江陵, 路, 号, 转, ...
1  [呼叫, 热线, 服务, 邮箱, ｋ, ｆ, ｐ, ｅ, ｏ, ｐ, ｌ, ｅ, ｄ, ａ,...
2  [Ｍ, Ｉ, Ｎ, Ｉ, 品牌, 二月, 公布, 最新, Ｍ, Ｉ, Ｎ, Ｉ, 新, 概念...
3  [清仓, 甩卖, 一汽, 夏利, Ｎ, 威志, Ｖ, 低至, 万, 启新, 中国, 一汽, ...
4  [日内瓦, 车展, 见到, 高尔夫, 家族, 新, 成员, 高尔夫, 敞篷版, 款, 全新,...

In [43]:
df_train = pd.DataFrame({'contents_clean':contents_clean,'label':df_news['category']})
df_train.tail()

                                         contents_clean label
4995  [天气, 炎热, 补水, 变得, 美国, 跑步, 世界, 杂志, 报道, 喝水, 身体, 补...    时尚
4996  [不想, 说, 话, 刺激, 说, 做, 只能, 走, 离开, 伤心地, 想起, 一句, 话...    时尚
4997  [岁, 刘晓庆, 最新, 嫩照, Ｏ, 衷, 诘, 牧跸, 庆, 看不出, 岁, 秒杀, 刘...    时尚
4998  [导语, 做, 爸爸, 一种, 幸福, 无论是, 领养, 亲生, 更何况, 影视剧, 中, ...    时尚
4999  [全球, 最美, 女人, 合成图, 国, 整形外科, 教授, 李承哲, 国际, 学术, 杂志...    时尚

**8. 把中文的类别变成英文的类别**

In [44]:
df_train.label.unique()

array(['汽车', '财经', '科技', '健康', '体育', '教育', '文化', '军事', '娱乐', '时尚'],
      dtype=object)

In [45]:
label_mapping = {"汽车":1,"财经":2,"科技":3,"健康":4,"体育":5,"教育":6,"文化":7,"军事":8,"娱乐":9,"时尚":10}
df_train['label'] = df_train['label'].map(label_mapping)
df_train.head()

                                      contents_clean  label
0  [经销商, 电话, 试驾, 订车, Ｕ, 憬, 杭州, 滨江区, 江陵, 路, 号, 转, ...      1
1  [呼叫, 热线, 服务, 邮箱, ｋ, ｆ, ｐ, ｅ, ｏ, ｐ, ｌ, ｅ, ｄ, ａ,...      1
2  [Ｍ, Ｉ, Ｎ, Ｉ, 品牌, 二月, 公布, 最新, Ｍ, Ｉ, Ｎ, Ｉ, 新, 概念...      1
3  [清仓, 甩卖, 一汽, 夏利, Ｎ, 威志, Ｖ, 低至, 万, 启新, 中国, 一汽, ...      1
4  [日内瓦, 车展, 见到, 高尔夫, 家族, 新, 成员, 高尔夫, 敞篷版, 款, 全新,...      1

**9. 如何划分训练集和测试集（列表是参数）**

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df_train['contents_clean'].values,df_train['label'].values)

**10. 如何让一个输出以逗号分隔的列表，变成一个以空格为分隔的列表(即修改分隔符)**

In [47]:
# 这里的contents_clean都是以逗号连接的，这里希望改成空格连接
#训练集
words = []
for line_index in range(len(x_train)):
    words.append(" ".join(x_train[line_index]))
#words[2]

#测试集
words_test = []
for line_index in range(len(x_test)):
    words_test.append(" ".join(x_test[line_index]))

**11. 如何让一句话(已经分号词的)转成一个向量（CountVectorizer，TfidfVectorizer）**

**12. 如何使用贝叶斯分类器**

   **(1)利用CountVectorizer**
    
    先fit一下，把所有单词输入
    再transform一下，把目标单词转换成向量

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
vec = CountVectorizer(analyzer='word',max_features=4000,lowercase=False)
vec.fit(words)
classifier = MultinomialNB()
classifier.fit(vec.transform(words),y_train)
print(classifier.score(vec.transform(words_test),y_test))

0.812

**(2)利用TfidfVectorizer**

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
vec1 = TfidfVectorizer(analyzer='word',max_features=4000,lowercase=False)
vec1.fit(words)
classifier = MultinomialNB()
classifier.fit(vec1.transform(words),y_train)
print(classifier.score(vec1.transform(words_test),y_test))

0.8216

**13.如何使用xgboost分类器**

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
vec = CountVectorizer(analyzer='word',max_features=4000,lowercase=False)
vec.fit(words)
model = XGBClassifier()
model.fit(vec.transform(words),y_train)

y_pred = model.predict(vec.transform(words_test))
print(y_pred)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%"%(accuracy*100.0))

[3 8 5 ... 9 9 7]
Accuracy: 76.48%

C:\Users\16538\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: